/* Variable Declaration for the entire site */
:root{
    --default-clr: #333;
    --primary-clr: #2B2243;
    --secondary-clr: #99D4D1;
    --white: #FFF;

    --ff: 'Source Sans Pro', sans-serif;
    --ff-heading: 'Libre Caslon Display', serif;
    --fz: 16px;

    --font-m: calc(var(--fz)*1.5);
    --font-l: calc(var(--fz)*2);
    --font-xl: calc(var(--fz)*3);

    --fw-l: 200;
    --fw-n: 400;
    --fw-b: 700;

    --br: 0.25rem;

    --ma: 0 auto;

    --spacer: 50px;
    --lspacer: calc(var(--spacer)*2);
}


/* Universal Styling  */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Defining Body background, Color and font */
body{
    background-color: var(--secondaryy-color);
    font-family: var(--ff);
    color: var(--default-clr);
}
/* Heading Styling for the site */
h1{
    font-family: var(--ff-heading);
    font-size: var(--font-l);
}
h2{
    font-family: var(--ff-heading);
    font-size: var(--font-xl);
}
h3{
    color: var(--secondary-clr);
    font-family: var(--ff-heading);
    font-size: calc(var(--fz)*1.25);
    font-style: italic;
}
h3::after{
    content: "......";
}
h4{
    font-family: var(--ff-heading);
    font-size: var(--font-m);
}
/* Anchor tag styling */
a{
    text-decoration: none;
}
/* listing styling */
ul{
    list-style: none;
    padding-left: 0;
}
/* Layout styling */
.container{
    width: 100%;
    max-width: 1170px;
    margin: var(--ma);
}
.row{
    margin: 0 -1rem;
    display: flex;
    flex-wrap: wrap;
}
.spacer{
    padding: var(--lspacer) 0;
}
.center{
    text-align: center;
}
[class*="column-"]{
    padding: 0 1rem;
}
.column-full{
    width: 100%;
}
.column-half{
    width: 50%;
}
.column-onethird{
    width: 33.33%;
}
.column-twothird{
    width: 66.66%;
}

/* Header Styling Starts */
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 var(--lspacer);
    width: 100%;
    z-index: 1;
}
header .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1170px;
    margin: auto;
    padding: 2rem 0;
}
/* Header logo typetext */
header h1{
    color: var(--white);
    text-transform: uppercase;
    justify-content: flex-start;
}
/* Navigation Styling */
header nav{
    justify-content: flex-end;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    font-weight: var(--fw-l);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: var(--white);
    transition: padding 0.8s linear;
    position: relative;
}
header nav ul li a::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.2s ease-out;
    z-index: -1;
}
header nav ul li:last-child a::after{
    height: 100%;
    border-radius: 20px;
    background-color: var(--secondary-clr);
}
header nav ul li:hover a::after{
    height: 100%;
}
/* Header Styling Ends */

/* Main Content Styling Starts Here */
/* Hero Image Styling */
main .hero-img{
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    vertical-align: middle;
    align-items: center;
    display: flex;
    isolation: isolate;
}
main .hero-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
main .hero-img .row{
    align-items: center;
    justify-content: center;
    text-align: center;
}
main .hero-img .hero-img-content{
    letter-spacing: 0.0625rem;
}
main .hero-img h2 {
    letter-spacing: 0.05em;
    color: var(--white);
}
main .hero-img a{
    color: var(--white);
    font-family: var(--ff-sans-pro);
    font-weight: var(--fw-l);
    text-transform: uppercase;
    transition: all ease 0.2s;
}
main .hero-img a:hover{
    color: var(--secondary-clr);
}
main .hero-img a::after{
    content: "→";
    transition: padding ease 0.2s;
}
main .hero-img a:hover::after{
    padding-left: .5rem;
}
/* About Me Section Styling */
.about-me .row{
    justify-content: space-between;
    align-items: center;
}
/* About Me section Heading styling override */
.about-me h3{
    margin-bottom: .5rem;
}
.about-me h2{
    color: var(--primary-clr);
    margin-bottom: 1.25rem;
}
.about-me a.btn{
    color: var(--white);
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1.25rem;
    background-color: var(--secondary-clr);
    border: none;
    font-weight: var(--fw-l);
    cursor: pointer;
    border-radius: var(--br);
    transition: all ease 0.2s;
    text-transform: uppercase;
}
.about-me a.btn:hover{
    background-color: var(--primary-clr);
}
/* About me image styling */
.about-me figure{
    position: relative;
}
.about-me figure::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-clr);
    width: 100%;
    height: calc(100% + 4rem);
    z-index: -1;
    top: -2rem;
    left: -2rem;
    border-radius: var(--br);
}
.about-me figure::after{
    content: "";
    position: absolute;
    right: -3rem;
    bottom: 2rem;
    width: 3rem;
    height: 40%;
    background-image: radial-gradient(circle, #2B2243 20%, transparent 10%), radial-gradient(circle, #2B2243 20%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 150px 150px;
    opacity: 0.5;
}
.about-me figure img{
    border-radius: var(--br);
}

/* Portfolio Section Styling */
.portfolio{
    background-color: var(--primary-clr);
    padding-bottom: var(--spacer);
}
/* Portfolio Heading restyling */
.portfolio h2{
    color: var(--white);
    margin-bottom: var(--spacer);
}
/* Cardbox styling */
.card-box{
    flex-basis: 50%;
    margin-bottom: var(--spacer);
    padding: 0 1rem;
}
.card-box:nth-of-type(1){
    flex-basis: 100%;
}
.card-box a{
    color: var(--white);
}
.card-box .image-holder{
    background-color: var(--white);
    border: 2px solid var(--secondary-clr);
    min-height: 20rem;
    background-size: cover;
    background-position: center ;
    margin-bottom: 0.5rem;
    border-radius: var(--br);
    transition: all ease 0.2s;
}
.card-box a:hover .image-holder{
    box-shadow: 0 0 1rem rgba(255,255,255,0.7);
}

/* Contact Section Styling */
/* Contact Heading restyling */
.contact h2{
    padding-bottom: var(--spacer);
}
/* Contact listing styling */
.contact-content ul li{
    padding-bottom: .5rem;
}
.contact-content ul li a{
    color: var(--primary-clr);
}
.contact-content ul li i{
    color: var(--primary-clr);
}
/* Contact Form Styling */
.form-label{
    margin-bottom: 1rem;;
}
.form-label label{
    display: block;
    margin-bottom: 0.25rem;
}
.form-label input, .form-label textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: var(--br);
    border: 1px solid var(--primary-clr);
    transition: all ease 0.2s;
}
.form-label input:focus, .form-label textarea:focus {
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    outline: none;

}
.form-label input.submit{
    background-color: var(--primary-clr);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-weight: var(--fw-l);
    border: none;
    width: auto;
    display: block;
    border-radius: var(--br);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
}
.form-label input.submit:hover{
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
}
/* Main Content Styling Ends */

/* Footer styling */
footer{
    background-color: var(--default-clr);
    color: var(--white);
    text-align: center;
    padding: var(--spacer) 0;
}


